@import 'standards.css';

* {
	text-align: justify;
}

body {
	font-size: 12px;
}

#document {
	margin: 24px;
	position: relative;
}

#document h1, #document h2  {
	padding-bottom: 6px;
}

#document table th, #document table td  {
	padding: 6px 6px 9px;
}

#document .last {
	padding-bottom: 18px;
}

#document h1 {
	font-size: 24px;
}

#document h2 {
	font-size: 16px;
}

#document em {
	font-style: italic;
}

#document a {
	color: #666;
	text-decoration: none;
}

#document .options {
	position: absolute;
	right: 0;
	top: 0;
}

#document .authentication {
	top: -48px;
}

#document .options .option {
	background-color: #f9f9f9;
	border: 0 none;
	float: right;
	padding: 6px 18px 9px;
	margin-left: 12px;
	width: auto;
}

#document .content {
	border: 0 none;
	float: left;
	margin: 18px 0;
	padding: 0;
	width: 100%;
}

#document .content input, #document .content select, #document .content textarea {
	border: 0 none;
	padding: 3px 6px;
	width: 97%;
}

#document .content .radio, #document .content .checkbox, #document .content .submit {
	width: auto;
}

#document .content .radio, #document .content .checkbox {
	padding: 0;
}

#document .content .checkbox, #document .content label, #document .content .submit {
	cursor: pointer;
}

#document .content .submit {
	background-color: #ccc;
	float: right;
	margin-right: 24px;
	padding: 6px 18px 9px;
}

#document .content .checkbox {
	margin-right: 12px;
	position: relative;
	top: 2px;
}

#document .content .head {
	background-color: #777;
}

#document .content .head, #document .content .head a {
	color: #fff;
}

#document .content .field {
	padding-left: 24px;
	width: 90px;
}

#document .content .field p {
	padding: 6px 0;
}

#document .content .field ul, #document .content .field ol {
	padding-left: 24px;
}

#document .content .field .offset {
	margin-left: 12px;
}

#document .content .even {
	background-color: #f9f9f9;
}

#document .content .odd {
	background-color: #f6f6f6;
}

#document .content .divider {
	background-color: #fcfcfc;
	border: 0 none;
}

#document .content .wide {
	width: 75%;
}

#document .content .right {
	padding: 6px 24px 9px;
	text-align: right;
}

#document .content .main {
	width: 40%;
}

#document .content .collapsed, #document .content .expanded {
	background-repeat: no-repeat;
	background-position: 5px 8px;
}

#document .content .collapsed {
	background-image: url('../img/expand.gif');
}

#document .content .expanded {
	background-image: url('../img/collapse.gif');
}

#document .content .number {
	padding-left: 24px;
	width: 24px;
}

#document .content .option {
	width: 60px;
}

#document .content .data {
	clear: both;
	font-weight: bold;
}

#document .content .options {
	background-color: transparent;
	border: 0 none;
	position: relative;
}

#document .content .options .option {
	background-color: transparent;
	border: 0 none;
	float: left;
	margin-left: 0;
	padding: 3px 6px;
	width: 90px;
}

#document .content .description {
	font-size: 9px;
	font-weight: normal;
	padding: 0;
}

#document .content .highlight {
	background-color: #fff;
	border: 0 none;
	padding: 6px 6px 9px;
}

#document .content .broad  th, #document .content .broad  td {
	padding: 3px 9px;
}

#document .content .foot {
	background-color: #f0f0f0;
}

#message {
	position: absolute;
	background-color: #f6f6f6;
	border: 0 none;
	font-weight: bold;
	height: 17px;
	margin: 18px 324px;
	padding: 12px 12px 15px;
	top: 0;
}